*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~

.DS_Store
._*
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.metadata
*.tern-project
RemoteSystemsTempFiles
.vscode
.history

logs
*.log
*.swp
*.map
.grunt

# Ignore dependency directory
node_modules

*.html
*.css.map

atlas/*
test/results/*

