env:
  global:
    - CC_TEST_REPORTER_ID=cd7e6d37c2aea8b7288808f680a3a8ef90dac7ebaac01a84384fb0b26e6474b4
sudo: false
language: node_js

node_js:
  - "6"

git:
  depth: 1

branches:
  only:
    - master
    - /^greenkeeper/.*$/

cache:
  directories: node_modules

before_install:
  - '[[ $(node -v) =~ ^v9.*$ ]] || npm install -g npm@latest'
  - npm install -g greenkeeper-lockfile@1

install: npm install

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - greenkeeper-lockfile-update

script:
  - npm run lint
  - npm run test

after_script:
  - greenkeeper-lockfile-upload

after_success:
  - npm run coverage
  - ./cc-test-reporter after-build --debug --exit-code $TRAVIS_TEST_RESULT
