.atlas-style-section {
	color: $atlas-color-text;
	margin: $space-md-atlas 0 $space-xl-atlas;
	position: relative;

	&__title {
		font-family: $font-sans-atlas;
		font-size: $scale-xl-atlas;
		font-weight: bold;
		letter-spacing: -0.04em;
		margin-bottom: $space-lg-atlas;
	}
}
