/// Convert pixels to rem
/// @group functions
/// @access public
/// @param {list} $values [""] - integers that will be converted. Could be list of values.
/// @example scss - Usage
///  .some-selector {
///    font-size: rem(14);
///    margin: rem(14 20);
///  }

@function rem($values...) {
	$max: length($values);
	$remValues: "";

	@for $i from 1 through $max {
		$value: nth($values, $i);
		$remValues: #{$remValues + ($value / 16)}rem;

		@if ($i < $max) {
			$remValues: #{$remValues + " "};
		}
	}

	@return $remValues;
}
