.atlas-style-palette {
	font-family: $font-sans-atlas;
	text-align: center;

	&__swatch {
		width: 100%;
	}

	&__text {
		font-size: 32px;
	}

	&__caption {
		font-family: $font-mono-atlas;
		font-size: $atlas-scale-mono-small;
	}
}
