{{#isSection}}
    </section>
    <section class="atlas-section">
{{/isSection}}
<h{{level}} class="atlas atlas-title atlas-title_{{level}}" id="h{{level}}-{{escapedText}}">
    <span class="atlas-title__text">
        {{{text}}}
    </span>
    <a class="atlas-title__anchor" href="#h{{level}}-{{escapedText}}" title="Copy link to this title">
        <svg width="14" height="14" role="img">
            <use xlink:href="#icon-ln"></use>
        </svg>
    </a>
</h{{level}}>
