{{> header}}

<div class="b-atlas-component-type-ico">
    <svg width="16" height="16" role="img">
        <use xlink:href="#icon-counterparts"></use>
    </svg>
    Dependencies
</div>
<section class="b-atlas-section">
    <h1 class="b-atlas b-atlas-title b-atlas-title_1">
        <span class="b-atlas-title__text">
            {{projectInfo.name}}
        </span>
    </h1>
</section>

<svg id="js-cross-dependencies-graph" class="b-cross-dependencies-graph"></svg>

<div class="b-cross-dependencies-legend b-atlas b-atlas-p">
    <svg width="14" height="14" role="img">
        <use xlink:href="#icon-index"></use>
    </svg>
    <p class="b-cross-dependencies-legend__caption">This graph shows cross components dependencies and help you run
        project without unneeded relations and orphans.</p>
    <p class="b-cross-dependencies-legend__example">For example, global components bundle should not have any
        dependencies, since by the name it already included in all
        areas. Also components that not included in any resulted CSS file probably redundant.</p>
    <ul class="b-cross-dependencies-legend__list">
        <li>
            <svg width="4.5" height="4.5">
                <circle r="4.5" cx="4.5" cy="4.5" fill="#307fe2"></circle>
            </svg>
            <p> - standalone file</p>
        </li>
        <li>
            <svg width="4.5" height="4.5">
                <circle r="2" cx="3" cy="4.5" fill="#307fe2"></circle>
            </svg>
            <p> - partial file</p>
        </li>
    </ul>
</div>

<script>
    window.importsData={{{content}}};
</script>
<script src="assets/js/d3.v4.min.js"></script>
<script src="assets/js/d3importsgraph.js"></script>

{{> footer}}
