{{> header}}

<link rel="stylesheet" type="text/css" href="assets/css/dev_atlas-insights.css"/>

<main class="atlas-stat-page">
    {{#content}}
        {{#.}}
            <div class="atlas-stat-sheet">

                <header class="atlas-stat-header">
                    <h1 class="atlas-stat-header__title">
                        {{name}}
                    </h1>
                    <div class="atlas-stat-header__caption">
                        {{size.view.raw}} / {{size.view.zipped}}
                    </div>
                </header>

                <ul class="atlas-stat-columns">
                    <li class="atlas-stat-columns__item">
                        <figure class="atlas-stat-digit _large">
                            <p class="atlas-stat-digit__data">{{totals.selectors}}</p>
                            <figcaption class="atlas-stat-digit__caption">Selectors</figcaption>
                        </figure>
                    </li>
                    <li class="atlas-stat-columns__item">
                        <figure class="atlas-stat-digit _large">
                            <p class="atlas-stat-digit__data">{{totals.rules}}</p>
                            <figcaption class="atlas-stat-digit__caption">Rules</figcaption>
                        </figure>
                    </li>
                    <li class="atlas-stat-columns__item">
                        <figure class="atlas-stat-digit _large">
                            <p class="atlas-stat-digit__data">{{totals.declarations}}</p>
                            <figcaption class="atlas-stat-digit__caption">Declarations</figcaption>
                        </figure>
                    </li>
                    <li class="atlas-stat-columns__item">
                        <figure class="atlas-stat-digit _large">
                            <p class="atlas-stat-digit__data">{{totals.properties}}</p>
                            <figcaption class="atlas-stat-digit__caption">Properties</figcaption>
                        </figure>
                    </li>
                </ul>

                <section class="atlas-stat-section">
                    <h2 class="atlas-stat-section__title">Total Declarations</h2>

                    <ul class="atlas-stat-columns">
                        {{#totalsDeclarations}}
                            <li class="atlas-stat-columns__item">
                                <figure class="atlas-stat-digit">
                                    <figcaption class="atlas-stat-digit__caption">{{name}}</figcaption>
                                    <p class="atlas-stat-digit__data">{{count}}</p>
                                </figure>
                            </li>
                        {{/totalsDeclarations}}
                    </ul>
                </section>

                <h2 class="atlas-stat-title">Size</h2>

                {{#sizes}}
                    <section class="atlas-stat-section">
                        <h2 class="atlas-stat-section__title">Files size</h2>
                        {{{sizes}}}
                    </section>
                {{/sizes}}

                {{#dataUri}}
                    <section class="atlas-stat-section">
                        <h2 class="atlas-stat-section__title">
                            Data URIs
                            <span class="atlas-stat-info">
                                <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                <span class="atlas-stat-info__popup">
                                    Data uri not the best approach to serve data (especially in HTTP2).
                                    It blows CSS, hard to maintain and it comes with less decoding speed.
                                </span>
                            </span>
                        </h2>

                        <ul class="atlas-stat-columns">
                            <li class="atlas-stat-columns__item">
                                <figure class="atlas-stat-digit">
                                    <p class="atlas-stat-digit__data">{{total.fmt}}</p>
                                    <figcaption class="atlas-stat-digit__caption">Total</figcaption>
                                </figure>
                            </li>
                        </ul>

                        <ul class="atlas-stat-columns _colors">
                            {{#data}}
                                <li class="atlas-stat-columns__item">
                                    <figure class="atlas-stat-digit _color _uri">
                                        <div class="atlas-stat-digit__data {{#displayValue}}_display{{/displayValue}}">
                                            <div {{#displayValue}}style="background:url('{{{displayValue}}}') center center no-repeat;"{{/displayValue}}>
                                                {{^displayValue}}Aa{{/displayValue}}
                                            </div>
                                        </div>
                                        <figcaption class="atlas-stat-digit__caption">
                                            {{typeRaw}} <br/>
                                            {{size}}
                                        </figcaption>
                                    </figure>
                                </li>
                            {{/data}}
                        </ul>
                    </section>
                {{/dataUri}}

                <h2 class="atlas-stat-title">Selectors and rules</h2>

                {{#selectors}}
                    <section class="atlas-stat-section">
                        <h2 class="atlas-stat-section__title">Selectors used</h2>

                        <ul class="atlas-stat-columns">
                            {{#stat}}
                                <li class="atlas-stat-columns__item">
                                    <figure class="atlas-stat-digit">
                                        <p class="atlas-stat-digit__data">{{count}}</p>
                                        <figcaption class="atlas-stat-digit__caption">{{name}}</figcaption>
                                    </figure>
                                </li>
                            {{/stat}}
                        </ul>
                    </section>
                {{/selectors}}

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        Specificity Graph
                        <span class="atlas-stat-info">
                            <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                            <span class="atlas-stat-info__popup">
                                This is zones that
                                could be hard to overwrite and work with.
                                Zones that could escalate specificity
                                and not scaled well during project lifetime.
                            </span>
                        </span>
                    </h3>
                    {{{specificityChart.chart}}}

                    <div class="atlas-stat-columns _selectors">
                        <section class="atlas-stat-columns__item">
                            <h4 class="atlas-stat-columns__title">
                                {{specificityTops.length}}
                                {{#pluralize}}{{specificityTops.length}},Heavy selector,Heavy selectors{{/pluralize}}
                                <span class="atlas-stat-info">
                                    <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                    <span class="atlas-stat-info__popup">
                                        This selectors should be simplified
                                    </span>
                                </span>
                            </h4>
                            {{#specificityTops.length}}
                            <div class="atlas-stat-scroll-view">
                                <table class="atlas-stat-table">
                                    <thead class="atlas-stat-table__head">
                                        <tr class="atlas-stat-table__item">
                                            <th class="atlas-stat-table__cell _title " scope="col">
                                                Specifisity
                                            </th>
                                            <td class="atlas-stat-table__cell _value" scope="col">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody class="atlas-stat-table__body">
                                    {{#specificityTops}}
                                        <tr class="atlas-stat-table__item">
                                            <th class="atlas-stat-table__cell _title ">
                                                {{specificity}}
                                            </th>
                                            <td class="atlas-stat-table__cell _value">
                                                {{selector}}
                                            </td>
                                        </tr>
                                    {{/specificityTops}}
                                    </tbody>
                                </table>
                            </div>
                            {{/specificityTops.length}}
                        </section>
                        <section class="atlas-stat-columns__item">
                            <h4 class="atlas-stat-columns__title">
                                {{selectorsListTops.length}}
                                {{#pluralize}}{{selectorsListTops.length}},Long selectors list,Long selectors lists{{/pluralize}}
                                <span class="atlas-stat-info">
                                    <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                    <span class="atlas-stat-info__popup">
                                        This selectors is potential candidates for simple CSS class
                                    </span>
                                </span>
                            </h4>
                            {{#selectorsListTops.length}}
                            <div class="atlas-stat-scroll-view">
                                <table class="atlas-stat-table">
                                    <thead class="atlas-stat-table__head">
                                        <tr class="atlas-stat-table__item">
                                            <th class="atlas-stat-table__cell _title " scope="col">
                                                Selectors
                                            </th>
                                            <td class="atlas-stat-table__cell _value" scope="col">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody class="atlas-stat-table__body">
                                        {{#selectorsListTops}}
                                            <tr class="atlas-stat-table__item">
                                                <th class="atlas-stat-table__cell _title">
                                                    {{selectors}}
                                                </th>
                                                <td class="atlas-stat-table__cell _value" style="white-space: nowrap">
                                                    {{{selector}}}
                                                </td>
                                            </tr>
                                        {{/selectorsListTops}}
                                    </tbody>
                                </table>
                            </div>
                            {{/selectorsListTops.length}}
                        </section>
                    </div>
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        Ruleset Size
                        <span class="atlas-stat-info">
                            <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                            <span class="atlas-stat-info__popup">
                                This graph show you places with selectors that have 15 or more rules inside
                            </span>
                        </span>
                    </h3>
                    <p class="atlas-stat-chart-caption">Number of declarations per ruleset</p>
                    {{{rulesizeChart.chart}}}

                    <div class="atlas-stat-columns _selectors">
                        <section class="atlas-stat-columns__item">
                            <h4 class="atlas-stat-columns__title">
                                {{rulesizeTops.heavy.length}}
                                {{#pluralize}}{{rulesizeTops.heavy.length}},Heavy ruleset,Heavy rulesets{{/pluralize}}
                                <span class="atlas-stat-info">
                                    <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                    <span class="atlas-stat-info__popup">
                                        This classes potentially could be changed to single global class
                                    </span>
                                </span>
                            </h4>
                            {{#rulesizeTops.heavy.length}}
                                <div class="atlas-stat-scroll-view">
                                    <table class="atlas-stat-table">
                                        <thead class="atlas-stat-table__head">
                                            <tr class="atlas-stat-table__item">
                                                <th class="atlas-stat-table__cell _title " scope="col">
                                                    Declarations
                                                </th>
                                                <td class="atlas-stat-table__cell _value" scope="col">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="atlas-stat-table__body">
                                            {{#rulesizeTops.heavy}}
                                                <tr class="atlas-stat-table__item">
                                                    <th class="atlas-stat-table__cell _title ">
                                                        {{declarations}}
                                                    </th>
                                                    <td class="atlas-stat-table__cell _value">
                                                        {{selector}}
                                                    </td>
                                                </tr>
                                            {{/rulesizeTops.heavy}}
                                        </tbody>
                                    </table>
                                </div>
                            {{/rulesizeTops.heavy.length}}
                        </section>
                        <section class="atlas-stat-columns__item">
                            <h4 class="atlas-stat-columns__title">
                                {{rulesizeTops.empty.length}}
                                {{#pluralize}}{{rulesizeTops.empty.length}},Empty ruleset,Empty rulesets{{/pluralize}}
                                <span class="atlas-stat-info">
                                    <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                    <span class="atlas-stat-info__popup">
                                        This selectors should be removed from project
                                    </span>
                                </span>
                            </h4>
                            {{#rulesizeTops.empty.length}}
                                <div class="atlas-stat-scroll-view">
                                    <table class="atlas-stat-table">
                                        <thead class="atlas-stat-table__head">
                                            <tr class="atlas-stat-table__item">
                                                <th class="atlas-stat-table__cell _title " scope="col">
                                                    Declarations
                                                </th>
                                                <td class="atlas-stat-table__cell _value" scope="col">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="atlas-stat-table__body">
                                            {{#rulesizeTops.empty}}
                                                <tr class="atlas-stat-table__item">
                                                    <th class="atlas-stat-table__cell _title ">
                                                        {{declarations}}
                                                    </th>
                                                    <td class="atlas-stat-table__cell _value">
                                                        {{selector}}
                                                    </td>
                                                </tr>
                                            {{/rulesizeTops.empty}}
                                        </tbody>
                                    </table>
                                </div>
                            {{/rulesizeTops.empty.length}}
                        </section>
                    </div>
                </section>

                <div class="atlas-stat-columns _selectors">
                    {{#selectors}}
                    <div class="atlas-stat-columns__item">
                        <h3 class="atlas-stat-section__title-sub">
                            js- prefixed selectors
                            <span class="atlas-stat-info">
                                <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                <span class="atlas-stat-info__popup">
                                    This selectors should not be used for styling
                                </span>
                            </span>
                        </h3>
                        <ul class="atlas-stat-list _scroll">
                            {{#jsPrefixedSelectors}}
                                <li class="atlas-stat-list__item">
                                    <p class="atlas-stat-item">{{.}}</p>
                                </li>
                            {{/jsPrefixedSelectors}}
                        </ul>
                    </div>
                    <div class="atlas-stat-columns__item">
                        <h3 class="atlas-stat-section__title-sub">
                            Universal selectors
                            <span class="atlas-stat-info">
                                <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                <span class="atlas-stat-info__popup">
                                    Universal selectors could affect performance and encapsulation of components
                                </span>
                            </span>
                        </h3>
                        <ul class="atlas-stat-list _scroll">
                            {{#universalSelectors}}
                                <li class="atlas-stat-list__item">
                                    <p class="atlas-stat-item">{{.}}</p>
                                </li>
                            {{/universalSelectors}}
                        </ul>
                    </div>
                    <div class="atlas-stat-columns__item">
                        <h3 class="atlas-stat-section__title-sub">
                            Id selectors
                            <span class="atlas-stat-info">
                                <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                <span class="atlas-stat-info__popup">
                                    It is bad practice to use IDs as selectors for specificity and reusability reasons.
                                </span>
                            </span>
                        </h3>
                        <ul class="atlas-stat-list _scroll">
                            {{#idSelectors}}
                                <li class="atlas-stat-list__item">
                                    <p class="atlas-stat-item">{{.}}</p>
                                </li>
                            {{/idSelectors}}
                        </ul>
                    </div>
                    {{/selectors}}
                    <div class="atlas-stat-columns__item">
                        <h3 class="atlas-stat-section__title-sub">
                            {{importantRules.count}} Important rules
                            <span class="atlas-stat-info">
                                <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                                <span class="atlas-stat-info__popup">
                                    Important rules could dramatically reduce project maintainability and scalability
                                </span>
                            </span>
                        </h3>
                        <ul class="atlas-stat-list _scroll">
                            {{#importantRules.rules}}
                                <li class="atlas-stat-list__item">
                                    <p class="atlas-stat-item">{{property}}: {{value}}</p>
                                </li>
                            {{/importantRules.rules}}
                        </ul>
                    </div>
                </div>


                <h2 class="atlas-stat-title">Consistency</h2>

                {{#uniquesChart.total}}
                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        Total vs. Unique Declarations
                        <span class="atlas-stat-info">
                            <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                            <span class="atlas-stat-info__popup">
                                This graph could show how effective code organized and reused over styling properties
                            </span>
                        </span>
                    </h3>
                    <p class="atlas-stat-chart-caption">{{uniquesChart.total}} total, {{uniquesChart.unique}} unique declarations</p>
                    <div class="atlas-stat-chart">
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.color.chart}}}
                            <div class="atlas-stat-chart__bean-name">Color</div>
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.backgroundColor.chart}}}
                            <div class="atlas-stat-chart__bean-name">Background Color</div>
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.fontSize.chart}}}
                            <div class="atlas-stat-chart__bean-name">Font Size</div>
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.fontFamily.chart}}}
                            <div class="atlas-stat-chart__bean-name">Font Family</div>
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.borderRadius.chart}}}
                            <div class="atlas-stat-chart__bean-name">Border radius</div>
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.zIndex.chart}}}
                            <div class="atlas-stat-chart__bean-name">Z-index</div>
                        </div>
                    </div>
                </section>
                {{/uniquesChart.total}}

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.color.length}}
                        {{#pluralize}}{{uniques.color.length}},Unique Color,Unique Colors{{/pluralize}}
                    </h3>
                    {{#uniques.color.length}}
                    <ul class="atlas-stat-columns _condenced">
                        {{#uniques.color}}
                            <li class="atlas-stat-columns__item">
                                <figure class="atlas-stat-digit _color">
                                    <p class="atlas-stat-digit__data" style="color:{{.}}">Aa</p>
                                    <figcaption class="atlas-stat-digit__caption" title="{{.}}">{{.}}</figcaption>
                                </figure>
                            </li>
                        {{/uniques.color}}
                    </ul>
                    {{/uniques.color.length}}
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.backgroundColor.length}}
                        {{#pluralize}}{{uniques.backgroundColor.length}},Unique Background Color,Unique Background Colors{{/pluralize}}
                    </h3>
                    {{#uniques.backgroundColor.length}}
                    <ul class="atlas-stat-columns _colors">
                        {{#uniques.backgroundColor}}
                            <li class="atlas-stat-columns__item">
                                <figure class="atlas-stat-digit _color">
                                    <svg class="atlas-stat-digit__data" viewBox="0 0 64 84" width="64" height="84">
                                        <rect width="64" height="84" fill="{{.}}"/>
                                    </svg>
                                    <figcaption class="atlas-stat-digit__caption" title="{{.}}">{{.}}</figcaption>
                                </figure>
                            </li>
                        {{/uniques.backgroundColor}}
                    </ul>
                    {{/uniques.backgroundColor.length}}
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.fontSize.length}}
                        {{#pluralize}}{{uniques.fontSize.length}},Unique Font Size,Unique Font Sizes{{/pluralize}}
                    </h3>
                    {{#uniques.fontSize.length}}
                    <ul class="atlas-stat-font-scale">
                        {{#uniques.fontSizeSorted}}
                            <li class="atlas-stat-font-scale__item">
                                <p class="atlas-stat-font-scale__example" style="font-size:{{abs}}px">
                                    Abc
                                </p>
                                <p class="atlas-stat-font-scale__size">
                                    {{orig}}
                                </p>
                            </li>
                        {{/uniques.fontSizeSorted}}
                    </ul>
                    {{/uniques.fontSize.length}}
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.fontFamily.length}}
                        {{#pluralize}}{{uniques.fontFamily.length}},Unique Font Family,Unique Font Families{{/pluralize}}
                    </h3>
                    {{#uniques.fontFamily.length}}
                    <ol class="atlas-stat-columns _fonts">
                        {{#uniques.fontFamily}}
                            <li class="atlas-stat-columns__item">
                                <figure class="atlas-stat-font">
                                    <div class="atlas-stat-font__figure" style="font-family: {{.}}">
                                        <p class="atlas-stat-font__short">
                                            Aa
                                        </p>
                                        <p class="atlas-stat-font__alphabet _{{.}}">
                                            <span class="atlas-stat-font__line _1"></span>
                                            <span class="atlas-stat-font__line _2"></span>
                                            <span class="atlas-stat-font__line _3"></span>
                                        </p>
                                    </div>
                                    <figcaption class="atlas-stat-font__name">
                                        {{.}}
                                    </figcaption>
                                </figure>
                            </li>
                        {{/uniques.fontFamily}}
                    </ol>
                    {{/uniques.fontFamily.length}}
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.borderRadius.length}}
                        {{#pluralize}}{{uniques.borderRadius.length}},Unique Border Radius,Unique Border Radii{{/pluralize}}
                    </h3>
                    <ul class="atlas-stat-list _indexes">
                        {{#uniques.borderRadius}}
                            <li class="atlas-stat-list__item">
                                <p class="atlas-stat-item">{{.}}</p>
                            </li>
                        {{/uniques.borderRadius}}
                    </ul>
                </section>

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.zIndex.length}}
                        {{#pluralize}}{{uniques.zIndex.length}},Unique Z Index,Unique Z Indices{{/pluralize}}
                    </h3>
                    <ul class="atlas-stat-list _indexes">
                        {{#uniques.zIndexSorted}}
                            <li class="atlas-stat-list__item">
                                <p class="atlas-stat-item" style="font-family:{{.}}">{{.}}</p>
                            </li>
                        {{/uniques.zIndexSorted}}
                    </ul>
                </section>

                {{#uniquesChart.total}}
                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        Total vs. Unique Space/Metric Declarations
                        <span class="atlas-stat-info">
                            <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                            <span class="atlas-stat-info__popup">
                                This graph could show how effective code organized and reused over space and metric properties
                            </span>
                        </span>
                    </h3>
                    <p class="atlas-stat-chart-caption">{{uniquesChart.total}} total, {{uniquesChart.unique}} unique declarations</p>
                    <div class="atlas-stat-chart">
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.margin.chart}}}
                            <div class="atlas-stat-chart__bean-name">
                                {{uniques.margin.length}}
                                {{#pluralize}}{{uniques.margin.length}},Margin,Margins{{/pluralize}}
                            </div>
                            {{#uniques.margin.length}}
                                <ul class="atlas-stat-chart__stat atlas-stat-space">
                                    {{#uniques.margin}}
                                        <li class="atlas-stat-space__item">
                                            <p class="atlas-stat-space__caption">{{orig}}</p>
                                            <div class="atlas-stat-space__line" style="width: {{abs}}px;{{#isNegative}}margin-left:{{abs}}px; width: {{normalized}}px{{/isNegative}}"></div>
                                        </li>
                                    {{/uniques.margin}}
                                </ul>
                            {{/uniques.margin.length}}
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.padding.chart}}}
                            <div class="atlas-stat-chart__bean-name">
                                {{uniques.padding.length}}
                                {{#pluralize}}{{uniques.padding.length}},Padding,Paddings{{/pluralize}}
                            </div>
                            {{#uniques.padding.length}}
                                <ul class="atlas-stat-chart__stat atlas-stat-space">
                                    {{#uniques.padding}}
                                        <li class="atlas-stat-space__item">
                                            <p class="atlas-stat-space__caption">{{orig}}</p>
                                            <div class="atlas-stat-space__line" style="width: {{abs}}px"></div>
                                        </li>
                                    {{/uniques.padding}}
                                </ul>
                            {{/uniques.padding.length}}
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.lineHeight.chart}}}
                            <div class="atlas-stat-chart__bean-name">
                                {{uniques.lineHeight.length}}
                                {{#pluralize}}{{uniques.lineHeight.length}},Line Height,Line Heights{{/pluralize}}
                            </div>
                            {{#uniques.lineHeight.length}}
                                <ul class="atlas-stat-chart__stat atlas-stat-list">
                                    {{#uniques.lineHeight}}
                                        <li class="atlas-stat-list__item">
                                            <p class="atlas-stat-item">{{.}}</p>
                                        </li>
                                    {{/uniques.lineHeight}}
                                </ul>
                            {{/uniques.lineHeight.length}}
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.width.chart}}}
                            <div class="atlas-stat-chart__bean-name">
                                {{uniques.width.length}}
                                {{#pluralize}}{{uniques.width.length}},Width,Widths{{/pluralize}}
                            </div>
                            {{#uniques.width.length}}
                                <ul class="atlas-stat-chart__stat atlas-stat-list">
                                    {{#uniques.width}}
                                        <li class="atlas-stat-list__item">
                                            <p class="atlas-stat-item">{{.}}</p>
                                        </li>
                                    {{/uniques.width}}
                                </ul>
                            {{/uniques.width.length}}
                        </div>
                        <div class="atlas-stat-chart__item">
                            {{{uniquesChart.height.chart}}}
                            <div class="atlas-stat-chart__bean-name">
                                {{uniques.height.length}}
                                {{#pluralize}}{{uniques.height.length}},Height,Heights{{/pluralize}}
                            </div>
                            {{#uniques.height.length}}
                                <ul class="atlas-stat-chart__stat atlas-stat-list">
                                    {{#uniques.height}}
                                        <li class="atlas-stat-list__item">
                                            <p class="atlas-stat-item">{{.}}</p>
                                        </li>
                                    {{/uniques.height}}
                                </ul>
                            {{/uniques.height.length}}
                        </div>
                    </div>
                </section>
                {{/uniquesChart.total}}

                <section class="atlas-stat-section">
                    <h3 class="atlas-stat-section__title">
                        {{uniques.mediaQueries.length}}
                        {{#pluralize}}{{uniques.mediaQueries.length}},Media Query,Media Queries{{/pluralize}}
                        <span class="atlas-stat-info">
                            <svg width="14" height="14" role="img"><use xlink:href="#icon-about"></use></svg>
                            <span class="atlas-stat-info__popup">
                                Consistency of media queries utilization on the project
                            </span>
                        </span>
                    </h3>
                    <ul class="atlas-stat-list">
                        {{#uniques.mediaQueries}}
                            <li class="atlas-stat-list__item">
                                <p class="atlas-stat-item">{{.}}</p>
                            </li>
                        {{/uniques.mediaQueries}}
                    </ul>
                </section>

            </div>
        {{/.}}
    {{/content}}
</main>

<script src="assets/js/loader.js"></script>
<script src="assets/js/d3.v4.min.js"></script>
<script src="assets/js/d3stackedchart.js"></script>
<script src="assets/js/d3linechart.js"></script>
<script src="assets/js/d3barchart.js"></script>

{{> footer}}
