{{> header}}

<div class="atlas-stat-sizes-page-title">
    <div class="atlas-component-type-ico">
        <svg width="16" height="16" role="img">
            <use xlink:href="#icon-bundle"></use>
        </svg>
        Components file size
    </div>
    <div class="atlas-section">
        <h1 class="atlas atlas-title atlas-title_1">
        <span class="atlas-title__text">
            {{projectInfo.name}}
        </span>
        </h1>
    </div>
</div>

<ul class="atlas-stat-sizes-grid">
{{#content}}
    <li>
        <figure class="atlas-stat-size-file">
            <svg width="{{svg.radius}}" height="{{svg.radius}}">
                <rect width="{{svg.radius}}" height="{{svg.radius}}" x="0" y="0" fill="currentColor"></rect>
            </svg>
            <figcaption class="atlas-stat-size-file__caption">
                <p class="atlas-stat-size-file__size">{{view.size}}</p>
                <h2 class="atlas-stat-size-file__title">{{filename}}</h2>
            </figcaption>
        </figure>
    </li>
{{/content}}
</ul>

{{> footer}}
