{{> header}}

<div class="atlas-stat-sizes-page-title">
    <div class="atlas-component-type-ico">
        <svg width="16" height="16" role="img">
            <use xlink:href="#icon-bundle"></use>
        </svg>
        Bundle structure & size
    </div>
    <div class="atlas-section">
        <h1 class="atlas atlas-title atlas-title_1">
        <span class="atlas-title__text">
            {{projectInfo.name}}
        </span>
        </h1>
    </div>
</div>

<svg id="js-graph-svg" class="js-graph-svg"></svg>

<script>
    window.importsPaths={{{content}}};
</script>

<script src="assets/js/d3.v4.min.js"></script>
<script src="assets/js/d3tree.js"></script>

{{> footer}}
