.atlas-content {
	all: unset;
	box-sizing: border-box;
	color: $atlas-color-text;
	display: block;

	&__inner {
		margin: 0 auto;
		min-height: calc(100vh - #{$space-md-atlas * 2});
		padding: $space-md-atlas;
		padding-top: 0;
		position: relative;
	}
}
