.atlas-footer-copyright {
	all: unset;
	color: $atlas-color-text;
	display: block;
	font-family: $font-sans-atlas;
	font-size: 10px;
	line-height: 1.2;
	margin: 0;
	overflow: hidden;
	padding: $space-sm-atlas;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
