.atlas-message-global {
	clear: both;
	font-family: $font-sans-atlas;
	font-size: $atlas-scale-secondary;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0 -#{$space-md-atlas};
	padding: $space-sm-atlas;
	text-align: center;

	&.error {
		background: $color-red-atlas;
		color: $color-white-atlas;
	}

	&._warn {
		background-color: $color-orange-atlas;
		color: $atlas-color-text;
	}
}
