.atlas-overline {
	font-family: $font-sans-atlas;
	font-size: $scale-lg-atlas;
	line-height: $space-md-atlas;
	margin-bottom: -#{$space-md-atlas};
	padding-top: $space-md-atlas;
	text-transform: capitalize;

	svg {
		color: $color-blue-atlas;
		height: 24px;
		position: relative;
		top: 4px;
		vertical-align: baseline;
		width: 24px;
	}
}
