.atlas-search {
	position: relative;

	$filter-icon-size: rem(16);
	$clear-icon-size: rem(14);
	$icon-indent: rem(6);

	&__input {
		-webkit-appearance: none;
		background: transparent;
		border: 1px solid $atlas-aside-bd;
		border-radius: $atlas-radius;
		font-family: $font-sans-atlas;
		font-size: rem(13);
		height: rem(25);
		line-height: rem(25);
		outline: none;
		padding: 0 $space-sm-atlas;
		text-indent: $filter-icon-size;
		width: 100%;

		&:focus {
			background: darken($atlas-aside-bg, 5%);
		}

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			display: none;
		}

		&::-ms-clear {
			display: none;
		}
	}

	&__icon {
		color: $atlas-color-text;
		height: $filter-icon-size;
		left: $icon-indent;
		position: absolute;
		top: rem(5);
		width: $filter-icon-size;

		.js-found & {
			color: $color-blue-atlas;
		}
	}

	&__clear {
		background: darken($atlas-aside-bd, 30%);
		border: none;
		border-radius: 50%;
		color: $color-white-atlas;
		height: $clear-icon-size;
		line-height: $clear-icon-size;
		outline: none;
		padding: 0;
		position: absolute;
		right: $icon-indent;
		top: rem(6);
		transform: scale(0);
		transition: transform ease 0.2s;
		width: $clear-icon-size;

		&:hover {
			background: darken($atlas-aside-bd, 40%);
		}

		&:focus {
			background: $color-blue-atlas;
		}

		&:active {
			background: darken($atlas-aside-bd, 50%);
		}

		.js-found & {
			transform: scale(1);
		}
	}
}
