/*md

# l-atlas-container

This is example of documentation for container component. `l-atlas-container` used as frame holder for main atlas page.

It consist with 2 elements:

```
l-atlas-container
	__aside
	__main
```

Aside has fixed positioning so the scroll view of main container create application like experience of 2 scroll views.

```html_example
<div style="transform: translate3d(0,0,0)"><!-- need this to hold pos:fixed -->

<div class="l-atlas-container">
	<div class="l-atlas-container__aside">
		Aside
	</div>
	<div class="l-atlas-container__main">
		Content
	</div>
</div>

</div>
```

## Modifications

### `js-aside-panel-hidden`

We have only one modification for this component – `js-aside-panel-hidden`. This class called when aside is hidden.
And used for hide parts of aside for this case.

```html_example
<div style="transform: translate3d(0,0,0)"><!-- need this to hold pos:fixed -->

<div class="l-atlas-container js-aside-panel-hidden">
	<div class="l-atlas-container__aside">
		<div class="atlas-aside__header">
			Aside
		</div>
	</div>
	<div class="l-atlas-container__main">
		Content
	</div>
</div>

</div>
```

*/

.l-atlas-container {
	height: 100%;

	&__aside {
		bottom: 0;
		box-shadow: 1px 0 0 0 $atlas-aside-bd;
		left: 0;
		position: fixed;
		top: 0;
		width: 250px;
		z-index: 2;
	}

	&__main {
		background-color: $color-white-atlas;
		margin-left: 250px;
		position: relative;
		z-index: 1;
	}

	&.js-aside-panel-hidden {
		.l-atlas-container__aside {
			min-width: 5px;
			width: 5px;
		}

		.l-atlas-container__main {
			margin-left: 5px;
		}
	}
}
