@at-root {
	$margin: 100px;
	$font-size: 30px;

	body {
		background: green;
		margin: $margin;
	}

	p {
		margin: $margin;
	}

	ul,
	ol {
		list-style: decimal;
		margin: $margin;
		padding: $margin;

		li {
			margin: $margin;
			padding: $margin;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
		margin: $font-size;
		padding: $margin;
	}
}
