// stylelint-disable
@at-root {
	$margin: 100px;
	$font-size: 30px;

	body {
		background: green;
		font-size: 14px;
		font-family: "Georgia", serif;
		font-style: italic;
		font-weight: bold;
		margin: $margin;
		color: red;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		font-family: "Georgia", serif;
		font-style: italic;
		font-weight: bold;
		margin: $margin;
	}

	ul,
	ol {
		list-style: decimal;
		margin: $margin;
		padding: $margin;

		li {
			margin: $margin;
			padding: $margin;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
		margin: $font-size;
		padding: $margin;
	}
}

.b-component {
	color: green;
	font-family: "Comic Sans MS", fantasy;
}
// stylelint-enable
