@use "sass:math";

// Palette
$color-grey60-atlas: hsl(0, 0%, 60%);
$color-grey70-atlas: hsl(0, 0%, 70%);
$color-grey80-atlas: hsl(0, 0%, 80%);
$color-grey90-atlas: hsl(0, 0%, 90%);
$color-grey95-atlas: hsl(0, 0%, 95%);
$color-white-atlas: hsl(0, 0%, 100%);

$color-blue-atlas: hsl(213, 75%, 54%);
$color-blue79-atlas: hsl(213, 66%, 79%);

$color-pink-atlas: hsl(328, 100%, 60%);
$color-red-atlas: hsl(0, 92%, 60%);
$color-orange-atlas: hsl(38, 92%, 60%);
$color-yellow-atlas: hsl(53, 92%, 60%);
$color-green-atlas: hsl(85, 60%, 60%);

// Fonts
$font-sans-atlas: "Arial", "FreeSans", sans-serif;
$font-mono-atlas: "DejaVu Sans Mono", "SFMono-Regular", "Menlo", "Consolas", "Lucida Console", monospace;

// Sizes
$size-font-atlas: 16px; // 16px
$size-line-atlas: $size-font-atlas * 1.25; // 20px

// Scales
$scale-sm-atlas: 12.8px;
$scale-md-atlas: 15px;
$scale-lg-atlas: 20px;
$scale-xl-atlas: 25px;
$scale-xxl-atlas: 39px;
$scale-xxxl-atlas: 48.8px;

// Spaces
$space-sm-atlas: math.div($size-line-atlas, 2); // 10px
$space-md-atlas: $size-line-atlas; // 20px
$space-xm-atlas: math.div($size-line-atlas, 2) * 3; // 30px
$space-lg-atlas: $size-line-atlas * 2; // 40px
$space-xl-atlas: $size-line-atlas * 3; // 60px

// Depth
$depth--1: inset 0 3px 10px 1px rgba(black, 0.34);
$depth-0: none;
$depth-1: 0 3px 10px 1px rgba(black, 0.34);
$depth-2: 0 9px 30px 3px rgba(black, 0.44);
$depth-3: 0 30px 50px 5px rgba(black, 0.44);
$depth-4: 0 45px 60px 6px rgba(black, 0.44);

// Motion
$motion-ease: cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
$motion-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
$motion-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) 0.2s;
$motion-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) 0.2s;

// Breakpoints
$break-xl: 1367px;
$break-md: 1024px;
$break-sm: 767px;

// Applied colors
$atlas-color-text: hsl(210, 0%, 35%);
$atlas-color-divider: $color-grey70-atlas;
$atlas-aside-bg: $color-grey95-atlas;
$atlas-aside-bd: hsl(0, 0%, 87%);
$atlas-aside-selected: hsl(0, 0%, 88%);

// Applied sizes
$atlas-scale-mono-small: 11px;
$atlas-scale-primary: $scale-md-atlas;
$atlas-scale-secondary: $scale-sm-atlas;

// Applied radiuses
$atlas-radius: 5px;
