// Palette - brand-supporting-functional(red, blue, green, yellow)
$color-grey60-guide: hsl(0, 0%, 60%);
$color-grey80-guide: hsl(0, 0%, 80%);
$color-grey90-guide: hsl(0, 0%, 90%);
$color-grey95-guide: hsl(0, 0%, 95%);
$color-white-guide: hsl(0, 0%, 100%);

$color-blue-guide: #307fe2;
$color-blue92-guide: #a7c6ed;

$color-violet: #594199;
$color-fuchsia: #bc1f8c;
$color-coral: #f15d5c;
$color-yellow: #fcc218;
$color-green: #98cb52;
$color-aqua: #46c2c7;

// Font families
$font-sans-guide: "Arial", "FreeSans", sans-serif;
$font-mono-guide: "DejaVu Sans Mono", "SFMono-Regular", "Menlo", "Consolas", "Lucida Console", monospace;

// Sizes
$size-font-guide: 1rem; // 16px
$size-line-guide: $size-font-guide * 1.25; // 20px

// Scales
$scale-off-guide: 0;
$scale-sm-guide: 0.8rem;
$scale-md-guide: 1rem;
$scale-lg-guide: 1.25rem;
$scale-xl-guide: 1.563rem;
$scale-xxl-guide: 2.441rem;
$scale-xxxl-guide: 3.051rem;

// Spaces
$space-off-guide: 0;
$space-sm-guide: $size-line-guide / 2; // 10px
$space-md-guide: $size-line-guide; // 20px
$space-xm-guide: $size-line-guide / 2 * 3; // 30px
$space-lg-guide: $size-line-guide * 2; // 40px
$space-xl-guide: $size-line-guide * 3; // 60px

// Applied colors
$guide-color-text: hsl(210, 2%, 35%);
$guide-color-divider: hsl(0, 1%, 70%);

// Applied sizes
$guide-mono-small: 0.7rem;

//$depth || $layer
//$motion
