.atlas-coverage {
	border-top: 1px solid;
	margin-top: $space-lg-guide;
	padding-top: $space-md-guide;

	&__digit {
		font-size: 2rem;
	}

	&__line {
		font-size: 1.2rem;
		margin-bottom: $space-sm-guide;
	}

	&__graph {
		display: block;
		margin-bottom: $space-sm-guide;
	}

	&__all {
		fill: $fg;
	}

	&__covered {
		fill: $accent;
	}
}
