.atlas-coverage {
	border-top: 1px solid;
	margin-top: $space-lg-atlas;
	padding-top: $space-md-atlas;

	&__digit {
		font-size: 2rem;
	}

	&__line {
		font-size: 1.2rem;
		margin-bottom: $space-sm-atlas;
	}

	&__graph-container {
		height: 8px;
		margin-bottom: $space-sm-atlas;
		position: relative;
		width: 100%;
	}

	&__graph {
		position: absolute;
		width: 100%;
	}

	&__all {
		fill: $fg;
	}

	&__covered {
		fill: $accent;
	}
}
