.atlas-toc {
	all: initial;
	background: $color-white-atlas linear-gradient(to top, rgba(black, 0), rgba(black, 0.1)) no-repeat;
	background-size: 1px 100%;
	bottom: 0;
	float: right;
	font-family: $font-sans-atlas;
	font-size: 12px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin-left: $space-md-atlas;
	overflow: auto;
	-webkit-overscroll-behavior: contain;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain; /* stylelint-disable-line */
	padding-left: $space-md-atlas;
	padding-top: $space-sm-atlas;
	position: relative;
	right: 0;
	top: 0;
	width: 250px;
	z-index: 5;

	&__item {
		display: block;
	}

	&__ln {
		color: $color-blue-atlas;
		display: block;
		overflow: hidden;
		text-decoration: underline;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: darken($color-blue-atlas, 15%);
		}

		&:active {
			color: $color-orange-atlas;
		}

		&_1 {
			font-size: 14px;
			font-weight: bold;
		}

		&_2 {
			font-weight: bold;
			margin-left: $space-md-atlas;
		}

		&_3 {
			margin-left: $space-md-atlas * 2;
		}

		&_4 {
			margin-left: $space-md-atlas * 3;
		}

		&_5 {
			margin-left: $space-md-atlas * 4;
		}

		&_6 {
			margin-left: $space-md-atlas * 5;
		}
	}
}
