$bg: $color-yellow-atlas;
$fg: $color-white-atlas;
$accent: $atlas-color-text;

.atlas-landing {
	&__head {
		align-items: center;
		background: $bg;
		margin: 0 -#{$space-md-atlas};
		padding: $space-md-atlas;
		padding-right: 0;
		position: relative;
	}

	&__head-inner {}

	&__content {
		display: flex;
		position: relative;
	}

	&__main {
		width: 100%;
	}

	&__aside {
		.atlas-toc {
			height: 90vh;
			position: sticky;
			top: 0;
		}
	}
}
