.atlas-welcome {
	all: initial;
	color: $atlas-color-text;
	font-family: $font-sans-atlas;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	position: relative;

	&__column {
		display: inline-block;
		min-width: 33%;
		vertical-align: top;
	}

	&__title {
		font-size: 64px;
		font-weight: bold;
		hyphens: manual;
		line-height: $space-md-atlas * 3;
		margin-bottom: $space-md-atlas;

		strong {
			display: block;
			font-weight: bold;
		}
	}
}
