.atlas-stat-section {
	color: $guide-color-text;
	margin: $space-xl-guide 0;
	position: relative;

	&__title {
		font-family: $font-sans-guide;
		font-size: 2rem; // font("2xl");
		font-weight: bold;
		letter-spacing: -0.04em;
		margin-bottom: $space-lg-guide;
	}
}
