.atlas-stat-list {
	color: $color-blue-atlas;
	font-family: $font-mono-atlas;
	font-size: 0.8rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	line-height: 1.2;

	&__item {
		display: list-item;
	}

	p {
		color: $atlas-color-text;
		overflow: visible;
	}

	&._tops {
		font-size: 1rem;
	}

	&._scroll {
		max-height: 50vh;
		overflow: auto;
	}

	&._imports {
		font-weight: normal;
	}
}

ul.atlas-stat-list {
	list-style-type: disc;
	padding-left: 1rem;
}

ol.atlas-stat-list {
	list-style-type: decimal-leading-zero;
	padding-left: 2rem;
}
