.atlas-stat-list {
	color: $color-blue-guide;
	font-family: $font-mono-guide;
	font-size: 0.8rem;
	font-weight: bold;
	line-height: 1.2;
	list-style-type: disc;
	padding-left: 1rem;

	p {
		color: $guide-color-text;
	}

	&._tops {
		font-size: 1rem;
	}
}
