.b-stat-font {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: stretch;
	overflow: hidden;

	&__figure {
	}

	&__short {
		font-size: 4rem;
		line-height: 1.2;
	}

	&__alphabet {
		white-space: nowrap;
	}

	&__name {
		border-top: 1px solid $guide-color-divider;
		font-family: $font-mono-guide;
		font-size: $guide-mono-small;
		font-weight: bold;
		margin-top: $space-sm-guide;
		padding-top: $space-sm-guide;
	}
}
