.b-stat-columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$space-md-guide};

	&__item {
		box-sizing: border-box;
		padding: $space-md-guide;
	}

	&__title {
		font-family: $font-sans-guide;
		font-size: $scale-xl-guide;
		font-weight: bold;
		letter-spacing: -0.04em;
		margin-bottom: $space-lg-guide;
	}

	&._condenced {
		.b-stat-columns__item {
			width: (100%/10);
		}
	}

	&._colors {
		margin: 0;

		.b-stat-columns__item {
			overflow: hidden;
			padding: 0 0 $space-md-guide;
			width: (100%/10);
		}
	}

	&._fonts {
		.b-stat-columns__item {
			width: (100%/3);
		}
	}

	&._selectors {
		.b-stat-columns__item {
			width: (100%/2);
		}
	}
}
