.atlas-stat-table {
	display: block;
	font-family: $font-mono-atlas;
	font-size: 12.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	width: 100%;

	&__cell,
	&__head,
	&__body {
		box-sizing: border-box;
		display: block;
	}

	&__head {
		.atlas-stat-table__cell {
			border-bottom: 1px solid $atlas-color-divider;
		}
	}

	&__body {
		max-height: 50vh;
		overflow: auto;
	}

	&__item {
		display: flex;

		&:nth-child(even) {
			.atlas-stat-table__cell {
				background-color: rgba($color-blue79-atlas, 0.15);
			}
		}
	}

	&__cell {
		padding: 0.3em $space-md-atlas;
		vertical-align: top;

		&._title {
			border-right: 1px solid $atlas-color-divider;
			font-weight: bold;
			min-width: 100px;
			overflow: hidden;
			padding-left: 0;
			text-align: right;
			width: 100px;
		}

		&._value {
			font-weight: normal;
			width: 80%;
		}
	}
}
