.atlas-stat-info {
	display: inline-block;
	font-family: $font-sans-atlas;
	font-size: 0.8rem;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.2;
	position: relative;

	svg {
		color: $color-blue-atlas;
		cursor: help;
		display: block;
	}

	&__popup {
		@include tooltip($_state: stale, $orientation: left);
		bottom: -10px;
		left: 20px;
		min-width: 200px;

		&::before {
			@include tooltip(__arrow);
		}
	}

	&:hover {
		.atlas-stat-info__popup {
			@include tooltip($_state: activated);
		}
	}
}
