.atlas-stat-space {
	all: initial;
	color: $atlas-color-text;
	display: block;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&__item {
		display: flex;
		margin: 0 0 2px;
		padding: 0;
	}

	&__line {
		background-color: $color-blue79-atlas;
		border-right: 1px solid $color-pink-atlas;
	}

	&__caption {
		font-family: $font-mono-atlas;
		font-size: $atlas-scale-mono-small;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		position: relative;
		text-align: right;
		width: 90px;
	}
}
