.atlas-stat-title {
	all: initial;
	color: $atlas-color-text;
	display: block;
	font-family: $font-sans-atlas;
	font-size: $scale-xxl-atlas;
	font-weight: bold;
	letter-spacing: -0.04em;
	margin: $space-lg-atlas 0;
}
