.atlas-stat-digit {
	all: unset;
	font-family: $font-sans-atlas;
	font-size: 4rem;
	font-weight: bold;
	line-height: 1;
	min-width: 190px;

	&__data {
		all: unset;
		color: $color-blue-atlas;
		display: block;
		letter-spacing: -0.06em;
	}

	&__caption {
		all: unset;
		display: block;
		font-size: 1rem;
		line-height: 1.2;
		padding: 0;
		text-transform: capitalize;
	}

	&._large {
		font-size: 5rem;
	}

	&._color {
		min-width: auto;
		//overflow: hidden;
		width: 100%;

		svg.atlas-stat-digit__data {
			@include chessboard();
			width: 100%;
		}

		.atlas-stat-digit__caption {
			font-family: $font-mono-atlas;
			font-size: $atlas-mono-small;
			margin-right: 4px;
			overflow: hidden;
			padding-top: $space-sm-atlas;
			text-overflow: ellipsis;
			text-transform: none;
		}
	}

	&._uri {
		.atlas-stat-digit__data {
			padding-bottom: 100%;
			position: relative;

			&._display {
				@include chessboard();
			}

			div {
				align-items: center;
				display: flex;
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}
	}
}
