.atlas-stat-sizes-grid {
	display: block;
	margin-top: -80px;

	> div {
		display: inline-block;
		padding: $space-sm-atlas;
		vertical-align: bottom;
		width: (100%/10);
	}
}

.atlas-stat-sizes-page-title {
	position: relative;
	z-index: 1;
}
