.atlas-stat-chart-caption {
	all: unset;
	font-family: $font-sans-atlas;
	font-size: 0.8rem;
	font-weight: bold;
	margin: $space-sm-atlas 0;
}

.atlas-stat-chart {
	display: flex;
	font-family: $font-sans-atlas;
	font-weight: bold;
	text-align: center;

	&__item {
		font-size: 1rem;
		width: 100%;
	}

	&__legend {
		color: $atlas-color-text;
		font-family: $font-sans-atlas;
		font-size: 0.6rem;
		margin-top: $space-md-atlas;
	}

	&__bean-name {
		margin: $space-sm-atlas 0 $space-md-atlas;
	}

	&__stat {
		font-size: $atlas-mono-small;
		list-style: none;
		margin-top: $space-md-atlas;
		padding-left: $space-lg-atlas;
		text-align: left;
	}
}
