.atlas-stat-space {
	&__item {
		display: flex;
		margin-bottom: 2px;
	}

	&__line {
		background-color: $color-blue79-atlas;
		border-right: 1px solid hotpink;
	}

	&__caption {
		font-family: $font-mono-atlas;
		font-size: 0.7rem;
		font-weight: bold;
		padding-right: 5px;
		position: relative;
		text-align: right;
		width: 90px;
	}
}
