.atlas-stat-bundle {
	margin-left: -#{$space-md-atlas};
	margin-top: -150px;

	.atlas-link {
		stroke: $color-blue-atlas;
	}

	.atlas-size {
		fill: rgba($color-blue-atlas, 0.2);
		stroke: $color-blue79-atlas;
	}

	.atlas-node {
		text {
			fill: $atlas-color-text;
			font-family: $font-mono-atlas;
			font-size: 8px;
		}

		circle {
			fill: $color-blue-atlas;
		}

		&._internal {
		}

		&._leaf {
		}

		&._0 {
			text {
				font-family: $font-sans-atlas;
				font-size: $scale-xl-atlas;
				font-weight: bold;
				text-anchor: middle;
			}

			circle {
				fill: white;
			}
		}

		&._1 {
			text {
				font-family: $font-sans-atlas;
				font-size: $scale-md-atlas;
			}

			circle {
				r: 4px;
			}
		}
	}
}
