.atlas-stat-font-scale {
	all: initial;
	align-items: flex-end; // stylelint-disable-line
	color: $atlas-color-text;
	display: flex;
	flex-wrap: wrap;
	font-family: $font-sans-atlas;
	line-height: 1.2;
	margin: 0;
	padding: 0;

	&__item {
		list-style: none;
		margin: 0 0 4rem;
		padding: 0;
		position: relative;
		width: (100%/10);
	}

	&__example {
		border-bottom: 1px solid $color-pink-atlas;
		border-top: 1px solid $color-pink-atlas;
		font-style: normal;
		font-weight: normal;
		overflow: hidden;
	}

	&__size {
		font-family: $font-mono-atlas;
		font-size: $atlas-scale-mono-small;
		font-style: normal;
		font-weight: bold;
		margin-top: 10px;
		max-width: 90px;
		overflow: hidden;
		position: absolute;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
