.atlas-cross-dependencies-graph {
	color: $atlas-color-text;
	margin-top: -#{$space-md-atlas};
	user-select: none;

	.link {
		stroke: $color-blue-atlas;
	}

	.node__circle {
		fill: $color-blue-atlas;
		stroke: $color-white-atlas;
	}

	.node__text {
		fill: currentColor;
		font-family: $font-mono-atlas;
		font-size: $atlas-mono-small;

		&._partial {
			fill: $color-blue-atlas;
		}
	}
}
