.atlas-stat-columns {
	all: unset;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -#{$space-md-atlas};

	&__item {
		all: unset;
		box-sizing: border-box;
		display: block;
		padding: $space-md-atlas;
		width: (100%/4);
	}

	&__title {
		all: initial;
		color: $atlas-color-text;
		display: block;
		font-family: $font-sans-atlas;
		font-size: $scale-xl-atlas;
		font-weight: bold;
		letter-spacing: -0.04em;
		margin-bottom: $space-lg-atlas;
	}

	&._condenced {
		.atlas-stat-columns__item {
			width: (100%/10);
		}
	}

	&._colors {
		margin: 0;

		.atlas-stat-columns__item {
			overflow: hidden;
			padding: 0 0 $space-md-atlas;
			width: (100%/10);
		}
	}

	&._fonts {
		.atlas-stat-columns__item {
			width: (100%/3);
		}
	}

	&._selectors {
		.atlas-stat-columns__item {
			width: (100%/2);
		}
	}

	&._imports {
		margin-bottom: $space-md-atlas;
		margin-top: $space-lg-atlas;

		.atlas-stat-columns__item {
			width: (100%/3);
		}
	}
}
