.atlas-stat-list {
	all: initial;
	color: $color-blue-atlas;
	display: block;
	font-family: $font-mono-atlas;
	font-size: 12.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	list-style-type: disc;
	margin: $space-md-atlas 0;
	padding: 0 $space-md-atlas;

	&__item {
		display: list-item;
		margin: 0;
		padding: 0;
	}

	.atlas-stat-item {
		color: $atlas-color-text;
		overflow: visible;
	}

	&._tops {
		font-size: 16px;
	}

	&._scroll {
		max-height: 50vh;
		overflow: auto;
	}

	&._imports {
		list-style-type: decimal-leading-zero;
		padding-left: 32px;
	}
}
