.atlas-cross-dependencies-legend {
	align-items: start;
	//border-top: 1px solid $atlas-color-divider;
	display: flex;
	justify-content: space-between;
	margin: $space-sm-atlas 0 $space-lg-atlas;
	max-width: none;
	padding: $scale-sm-atlas 0 0;

	kbd {
		background-color: #f2f2f2;
		border: 1px solid $atlas-color-divider;
		border-radius: 3px;
		box-shadow: 1px 2px 0 darken($atlas-color-divider, 20%);
		font-family: $font-mono-atlas;
		font-size: $atlas-mono-small;
		font-weight: bold;
		margin: 3px;
		padding: 0 3px;
	}

	> svg {
		color: $color-blue-atlas;
		height: 20px;
		min-width: 50px;
		width: 50px;
	}

	&__caption {
		font-size: 1.2rem;
		margin-bottom: 5px;
		margin-right: $space-md-atlas;
		width: 50%;
	}

	&__example {
		font-size: 0.9rem;
		margin-right: $space-md-atlas;
		text-align: justify;
		width: 50%;
	}

	&__list {
		font-size: 0.9rem;
		margin: 0 0 0 $space-md-atlas;
		min-width: 20%;
		padding: 0;

		svg {
			height: 10px;
			width: 10px;
		}
	}

	&__p {
		display: inline-block;
	}
}
