.atlas-stat-space {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&__item {
		display: flex;
		margin-bottom: 2px;
	}

	&__line {
		background-color: $color-blue79-atlas;
		border-right: 1px solid hotpink;
	}

	&__caption {
		font-family: $font-mono-atlas;
		font-size: $atlas-mono-small;
		font-weight: normal;
		padding-right: 5px;
		position: relative;
		text-align: right;
		width: 90px;
	}
}
