.atlas-nav { // atlas-outline-view
	font-family: $font-sans-atlas;
	font-size: 13px;
	line-height: 1.2;
	list-style: none;
	padding-bottom: $space-md-atlas;
	text-transform: capitalize;

	&__item {
		display: block;
		position: relative;

		&_index + &_index {
			display: none;
		}
	}

	&__ln {
		color: inherit;
		cursor: pointer;
		display: block;
		padding: 2px 0 4px;
		position: relative;
		text-decoration: none;
		text-overflow: ellipsis;
		transition: opacity ease 0.2s;
		user-select: none;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: black;
		}

		&:active {
			color: $color-blue-atlas;
		}

		&.js-current-page {
			background-color: $aside-selected;
			color: black;
			cursor: default;
			pointer-events: none;
		}

		svg {
			height: 18px;
			pointer-events: none;
			vertical-align: text-bottom;
			width: 18px;
		}

		&._landing {
			svg {
				display: none;
			}
		}

		&._category {
			svg {
				transform: rotate(90deg);
				width: 8px;
			}
		}

		&._guide {
			svg {
				width: 14px;
			}
		}

		&._about {
			svg {
				margin-right: 3px;
				width: 15px;
			}
		}
	}

	/* stylelint-disable */
	// Recursive nesting level structure - refactor me later
	> .atlas-nav__item {
		> .atlas-nav__ln {
			background: $aside-bg;
			display: block;
			padding: $space-sm-atlas $space-md-atlas;
			position: sticky;
			top: 0;
			z-index: 1;

			&::after {
				$color-shadow: black;
				background: radial-gradient(farthest-side at 50% 0, rgba($color-shadow, 0.3), rgba($color-shadow, 0)) no-repeat center bottom;
				background-size: 120% 1px;
				bottom: 0;
				content: "";
				height: 1px;
				left: $space-md-atlas;
				position: absolute;
				right: $space-md-atlas;
			}
		}

		.atlas-nav__item {
			> .atlas-nav__ln {
				padding-left: ($space-md-atlas * 2);
				padding-right: ($space-md-atlas * 2);
			}

			.atlas-nav__item {
				> .atlas-nav__ln {
					padding-left: ($space-md-atlas * 3);
					padding-right: ($space-md-atlas * 3);
				}

				.atlas-nav__item {
					> .atlas-nav__ln {
						padding-left: ($space-md-atlas * 4);
						padding-right: ($space-md-atlas * 4);
					}
				}
			}
		}
	}
	/* stylelint-enable */

	.atlas-nav__ln._category {
		svg {
			transition: transform ease 0.4s;
		}
	}

	.atlas-nav__ln._category.js-collapsed {
		svg { /* stylelint-disable-line */
			transform: rotate(0);
		}

		+ .atlas-nav__sub-nav { /* stylelint-disable-line */
			display: none;
		}
	}
}

.js-searching {
	.atlas-nav__ln {
		color: lighten($atlas-color-text, 40%);
		cursor: default;
		pointer-events: none;
	}
}

.js-found {
	.atlas-nav__ln {
		color: lighten($atlas-color-text, 40%);
		cursor: default;
		display: none;
		pointer-events: none;
	}

	.atlas-nav__ln.js-relevant {
		color: $atlas-color-text;
		cursor: pointer;
		display: block;
		pointer-events: initial;

		&:hover,
		&:focus {
			color: black;
		}

		&:active {
			color: $color-blue-atlas;
		}
	}

	.atlas-nav__sub-nav,
	.atlas-nav__ln._category {
		display: block !important; /* stylelint-disable-line */
	}
}
