/*md

# atlas-loader

Used to hide content before it loaded.

It remove class from loader when DOMContentLoaded event fired. Example markup:

```html
<div class="atlas-loader"></div>
```

```html_example
<h1 class="atlas atlas-title atlas-title_1" id="h1-b-loader">
    <span class="atlas-title__text">
        atlas-loader
    </span>
    <a class="atlas-title__anchor" href="#h1-b-loader" title="Copy link to this title">
        <svg width="14" height="14" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ln"></use>
        </svg>
    </a>
</h1>
```
*/

.atlas-loader {
	background: rgba(white, 0.96);
	bottom: 0;
	color: $color-blue-atlas;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;

	@supports (backdrop-filter: blur(10px)) {
		backdrop-filter: saturate(180%) blur(10px);
		background: rgba(white, 0.7);
	}

	@media braille {
		// Only for test reason this media group not support this props
		color: #594199;
		margin: 0;
	}

	.js-loading-frame & {
		display: block;
	}
}
