.atlas-aside {
	background-color: rgba($aside-bg, 0.98);
	bottom: 0;
	display: flex;
	flex-direction: column;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	transform: translate3d(0, 0, 0);
	z-index: 1;

	@supports (backdrop-filter: blur(10px)) {
		backdrop-filter: saturate(180%) blur(10px);
		background-color: rgba($aside-bg, 0.8);
	}

	&__header {
		padding: 10px;
	}

	&__content {
		overflow-y: auto;
		-webkit-overscroll-behavior: contain;
		-ms-scroll-chaining: none;
		overscroll-behavior: contain; /* stylelint-disable-line */
	}

	&__footer {
		margin-top: auto;
		padding-top: $space-md-guide;
		position: relative;

		&::after {
			background: linear-gradient(rgba(white, 0), $aside-bg);
			content: "";
			display: block;
			height: 20px;
			left: 4px;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: -20px;
			z-index: 2;
		}
	}
}
