.b-atlas-component-type-ico {
	font-family: $font-sans-guide;
	font-size: $scale-lg-guide;
	line-height: $space-md-guide;
	margin-bottom: -#{$space-md-guide};
	padding-top: $space-md-guide;
	text-transform: capitalize;

	svg {
		color: $color-blue-guide;
		height: 24px;
		position: relative;
		top: 4px;
		width: 24px;
	}
}
