.js-searching {
	.b-docs-nav__ln {
		color: lighten($guide-color-text, 40%);
		cursor: default;
		pointer-events: none;
	}
}

.js-found {
	.b-docs-nav__ln {
		color: lighten($guide-color-text, 40%);
		cursor: default;
		display: none;
		pointer-events: none;
	}

	.b-docs-nav__ln.js-relevant {
		color: $guide-color-text;
		cursor: pointer;
		display: block;
		pointer-events: initial;

		&:hover,
		&:focus {
			color: black;
		}

		&:active {
			color: $color-blue-guide;
		}
	}

	.b-docs-nav__sub-nav,
	.b-docs-nav__ln_category {
		display: block !important; /* stylelint-disable-line */
	}
}
