.b-footer-copyright {
	color: $guide-color-text;
	font-family: $font-sans-guide;
	font-size: 10px;
	line-height: 1.2;
	padding: 10px;
	text-align: center;

	svg {
		height: 30px;
		margin-left: 6px;
		vertical-align: middle;
		width: 40px;
	}
}
