/*md

# l-atlas-container

*/

.l-atlas-container {
	display: flex;
	height: 100%;

	&__aside {
		box-shadow: 0 0 0 1px $aside-bd;
		height: 100vh;
		position: relative;
		transition: width ease 0.2s;
		z-index: 10;
	}

	&__main {
		background-color: white;
		height: 100vh;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	&.js-aside-panel-hidden {
		.l-atlas-container__aside {
			min-width: 3px;
			width: 3px;
		}

		.atlas-aside__header,
		.atlas-aside__footer,
		.atlas-aside__content {
			display: none;
		}
	}
}
