/*md

# l-atlas-container

*/

.l-atlas-container {
	height: 100%;

	&__aside {
		border-right: 1px solid $aside-bd;
		bottom: 0;
		left: 0;
		position: fixed;
		top: 0;
		width: 270px;
		z-index: 10;
	}

	&__main {
		background-color: white;
		margin-left: 270px;
		position: relative;
		z-index: 1;
	}

	&.js-aside-panel-hidden {
		.l-atlas-container__aside {
			min-width: 5px;
			width: 5px;
		}

		.atlas-aside__header,
		.atlas-aside__footer,
		.atlas-aside__content {
			display: none;
		}

		.l-atlas-container__main {
			margin-left: 5px;
		}
	}
}
