.b-component-stat-graph {
	margin: $space-sm-guide 0 0 $space-lg-guide;
	max-width: none;
	width: 100%;

	path {
		stroke: url("#atlas-graph-gradient");
		stroke-linecap: round;
		stroke-width: 2px;
	}

	&__line {
		transform: translate(5px, 3px);
	}

	&__shadow {
		transform: translate(3px, 3px);

		path {
			stroke: rgba(0, 0, 0, 0.2);
		}
	}
}
