.b-component-stat-profile {
	padding-bottom: $space-sm-guide;
	padding-top: $space-md-guide;

	&__title {
		font-size: $scale-lg-guide;
		line-height: $space-md-guide;
		margin-bottom: $space-md-guide;
	}

	&__graph {}

	&__table {
		border-collapse: collapse;
		color: lighten($guide-color-text, 20%);
		font-size: 0.8rem;
		table-layout: fixed;
		width: 250px;

		th {
			font-weight: bold;
			text-align: center;
		}

		td {
			padding: 4px 5px 0 $space-xm-guide;
			vertical-align: top;
			width: 25%;
		}

		thead {
			th {
				border-bottom: 1px solid;
				padding: 0 0 4px;
			}
		}

		tr {
			.b-component-stat-profile__first,
			td:first-child {
				border-right: 1px solid;
			}
		}

		span {
			//color: $color-blue-guide;
			font-weight: bold;
		}

		small {
			font-size: 0.8em;
		}
	}
}
