.atlas-stat-size-file {
	border-bottom: 1px solid $color-blue92-guide;
	font-family: $font-mono-guide;
	font-size: $guide-mono-small;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: $space-md-guide;
	padding-top: 80px;
	position: relative;

	svg {
		display: inline-block;
		margin-bottom: -1px;
		vertical-align: bottom;

		rect {
			fill: $color-blue92-guide;
			stroke: $color-blue-guide;
			stroke-width: 1;
		}
	}

	&__caption {
		bottom: 5px;
		display: inline-block;
		left: 30px;
		max-width: 70px;
		position: absolute;
		word-wrap: break-word;
		z-index: 1;
	}

	&__size {
		color: $color-blue-guide;
	}

	&__title {
		font-weight: normal;
		line-height: 1.2;
	}
}
