@use "sass:math";

@mixin chessboard(
	$__elem: "",
	$color: #f1f1f1,
	$size: 12px
) {
	@if ($__elem == "") {
		background-image:
			linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color),
			linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color);
		background-position: 0 0, math.div($size, 2) math.div($size, 2);
		background-size: $size $size;
	}
}
