/*md

# b-component test

Usage of this component

```html
<div class="b-component"></div>
```

Some description

```html_example
<div class="b-component">
	Component playground
</div>
```

*/

@import "excluded-component";
@import "category/component";

$local-const: 10px;

%some {
	margin: 0;
}

.class {
	@include component();
	background-color: green;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* stylelint-disable-line */
	margin: $local-const;

	&__item-empty {
		&:hover {
			outline: none;
		}
	}

	a {
		align-items: center;
		display: flex;

		&::before {
			content: "some";
			display: block;
		}
	}

	&_mod-2 {
		float: left;
	}

	&.modifier-adjacent {
		-webkit-appearance: none;
		background-image: -webkit-linear-gradient(top, #D7D 0%, #068 100%); /* stylelint-disable-line */
	}

	.js-test & {
		overflow: hidden;
	}
}

.class_mod {
	position: relative;
	z-index: 3;

	&:hover,
	&:focus {
		outline: auto;
	}
}

.b-test {
	@extend %some;
	box-shadow: $depth-2;
	color: $color-yellow-atlas;
	font-size: inherit;
}

.l-test {
	color: #98cb52;
	display: grid;
	font-family: $font-sans-atlas;
}

@media all {
	p {
		background: center center orange no-repeat;
		color: red;
		font: normal 20px / 1.2 serif; /* stylelint-disable-line */
		margin: $space-sm-atlas;
		padding: 0 !important; /* stylelint-disable-line */
	}

	#main { /* stylelint-disable-line */
		font: normal 20px sans; /* stylelint-disable-line */
		height: 100px;
		padding: 1.2rem;
		width: 100px;
	}
}

@keyframes animationName {
	0% {
		width: 0;
	}

	100% {
		width: 100px;
	}
}
