{{#content.componentStats}}
    <aside class="b-component-postcard">
        <div class="b-component-postcard__item">
            <section class="b-component-postcard__section">
                <figure class="b-component-stat-digit _primary">
                    <p class="b-component-stat-digit__digit">
                        {{totalDeclarations}}
                    </p>
                    <figcaption class="b-component-stat-digit__details">
                        <h3 class="b-component-stat-digit__title">
                            Total declarations
                        </h3>
                    </figcaption>
                </figure>
                <svg width="300" height="80" viewBox="0 0 300 80" class="b-component-stat-digit b-component-stat-graph">
                    <defs>
                        <filter id="blur-filter" x="0" y="0">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="3"/>
                        </filter>
                    </defs>
                    <g class="b-component-stat-graph__line">
                        <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none"/>
                        <g class="b-component-stat-graph__shadow">
                            <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none" filter="url(#blur-filter)"/>
                        </g>
                    </g>
                </svg>

            </section>
        {{#stats}}
            <section class="b-component-postcard__section">
                {{#important}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Important<br>declaration,Important<br>declarations{{/pluralize}}
                            </h3>
                            {{#values.length}}
                            <ul class="b-component-stat-digit__popup">
                                {{#values}}
                                    <li class="b-component-stat-digit__item">{{prop}}</li>
                                {{/values}}
                            </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/important}}
                {{#vendorPrefix}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Vendor<br>prefix,Vendor<br>prefixes{{/pluralize}}
                            </h3>
                            {{#values.length}}
                                <ul class="b-component-stat-digit__popup">
                                    {{#values}}
                                        <li class="b-component-stat-digit__item">{{prop}}{{value}}</li>
                                    {{/values}}
                                </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/vendorPrefix}}
                {{#floats}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Float<br>declared,Floats<br>declared{{/pluralize}}
                            </h3>
                            {{#values.length}}
                                <ul class="b-component-stat-digit__popup">
                                    {{#values}}
                                        <li class="b-component-stat-digit__item">{{value}}</li>
                                    {{/values}}
                                </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/floats}}
            </section>
        {{/stats}}
            <section class="b-component-stat-profile">
                <h3 class="b-component-stat-profile__title">
                    Separation of <br/> concerns
                </h3>
                <svg class="b-component-stat-profile__graph" width="270" height="270">
                    <defs>
                        <clipPath id="radar-area">
                            <path d="{{componentProfileShape}}"></path>
                        </clipPath>
                    </defs>
                    <g transform="translate(125,125)">
                        <g class="axis" transform="rotate(0)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Padding
                            </text>
                        </g>
                        <g class="axis" transform="rotate(36)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Display
                            </text>
                        </g>
                        <g class="axis" transform="rotate(72)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Position
                            </text>
                        </g>
                        <g class="axis" transform="rotate(108)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Width
                            </text>
                        </g>
                        <g class="axis" transform="rotate(144)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Height
                            </text>
                        </g>
                        <g class="axis" transform="rotate(180)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Margin
                            </text>
                        </g>
                        <g class="axis" transform="rotate(216)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Scale
                            </text>
                        </g>
                        <g class="axis" transform="rotate(252)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Font
                            </text>
                        </g>
                        <g class="axis" transform="rotate(288)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Color
                            </text>
                        </g>
                        <g class="axis" transform="rotate(324)">
                            <line x1="0" y1="0" x2="0" y2="105" stroke="rgba(0,0,0,0.03)"></line>
                            <text y="-115" dy=".5em" fill="rgba(0,0,0,0.4)" font-size="10px" text-anchor="middle">
                                Background
                            </text>
                        </g>
                        <path stroke="rgba(0,0,0,0.03)" fill="none" class="line" d="M0,-105L61.71745149070968,-84.94678440936949L99.86093421099112,-32.446784409369485L99.86093421099113,32.44678440936947L61.71745149070969,84.94678440936947L1.2858791391047208e-14,105L-61.71745149070967,84.94678440936949L-99.86093421099112,32.44678440936949L-99.86093421099113,-32.44678440936946L-61.717451490709706,-84.94678440936947L-2.5717582782094416e-14,-105"></path>
                        <path stroke="rgba(0,0,0,0.03)" fill="none" class="line" d="M0,-55L32.328188876086024,-44.49593469062211L52.30810839623344,-16.99593469062211L52.30810839623345,16.995934690622104L32.32818887608603,44.49593469062211L6.735557395310443e-15,55L-32.32818887608602,44.49593469062211L-52.30810839623344,16.995934690622114L-52.30810839623345,-16.995934690622096L-32.32818887608603,-44.49593469062211L-1.3471114790620885e-14,-55"></path>
                        <path stroke="rgba(0,0,0,0.03)" fill="none" class="line" d="M0,-80L47.022820183397855,-64.7213595499958L76.08452130361228,-24.721359549995796L76.08452130361229,24.72135954999579L47.02282018339786,64.72135954999578L9.797174393178826e-15,80L-47.02282018339784,64.7213595499958L-76.08452130361228,24.721359549995803L-76.08452130361229,-24.72135954999578L-47.02282018339787,-64.72135954999578L-1.9594348786357652e-14,-80"></path>
                        <g transform="translate(3, 3)">
                            <path fill="rgba(0, 0, 0, 0.3)" filter="url(#blur-filter)" class="area"
                                  d="{{componentProfileShape}}"></path>
                        </g>
                        <rect x="-125" y="-125" width="250" height="250" fill="url(#atlas-graph-gradient)" clip-path="url(#radar-area)"></rect>
                    </g>
                </svg>
                {{#componentProfileDetails}}
                    <table class="b-component-stat-profile__table">
                        <thead>
                            <tr>
                                <th scope="col" class="b-component-stat-profile__first">Component</th>
                                <th scope="col">Container</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{#color}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Color,Colors{{/pluralize}}
                                    {{/color}}
                                </td>
                                <td>
                                    {{#display}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Display,Displays{{/pluralize}}
                                    {{/display}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{#background}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Background,Backgrounds{{/pluralize}}
                                    {{/background}}
                                </td>
                                <td>
                                    {{#position}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Position,Positions{{/pluralize}}
                                    {{/position}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{#font}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Font,Fonts{{/pluralize}}
                                    {{/font}}
                                </td>
                                <td>
                                    {{#width}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Width,Widths{{/pluralize}}
                                    {{/width}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{#scale}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Scale,Scales{{/pluralize}} <small>(font-size)</small>
                                    {{/scale}}
                                </td>
                                <td>
                                    {{#height}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Height,Heights{{/pluralize}}
                                    {{/height}}
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" scope="col">Neutral</th>
                            </tr>
                            <tr>
                                <td>
                                    {{#margin}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Margin,Margins{{/pluralize}}
                                    {{/margin}}
                                </td>
                                <td>
                                    {{#padding}}
                                        <span>{{total}}</span> {{#pluralize}}{{values.length}},Padding,Paddings{{/pluralize}}
                                    {{/padding}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {{/componentProfileDetails}}
            </section>
        </div>

        <div class="b-component-postcard__item">
            <section class="b-component-stat-structure">
                <h3 class="b-component-stat-structure__title">
                    Component structure
                </h3>
                <ul class="b-component-stat-structure__nodes">
                    {{>componentstructure}}
                </ul>
            </section>
        </div>
    </aside>
{{/content.componentStats}}
