{{#content.componentStats}}
    <aside class="b-component-postcard">
        <div class="b-component-postcard__item">
            <section class="b-component-postcard__section">
                <figure class="b-component-stat-digit _primary">
                    <p class="b-component-stat-digit__digit">
                        {{totalDeclarations}}
                    </p>
                    <figcaption class="b-component-stat-digit__details">
                        <h3 class="b-component-stat-digit__title">
                            Total declarations
                        </h3>
                    </figcaption>
                </figure>
                <svg width="300" height="80" viewBox="0 0 300 80" class="b-component-stat-digit b-component-stat-graph" aria-labelledby="component-graph-title">
                    <title id="component-graph-title">Declaration sets size through the file</title>
                    <defs>
                        <filter id="blur-filter" x="0" y="0">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="3"/>
                        </filter>
                    </defs>
                    <g class="b-component-stat-graph__line">
                        <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none"/>
                        <g class="b-component-stat-graph__shadow">
                            <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none" filter="url(#blur-filter)"/>
                        </g>
                    </g>
                </svg>

            </section>
        {{#stats}}
            <section class="b-component-postcard__section">
                {{#important}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Important<br>declaration,Important<br>declarations{{/pluralize}}
                            </h3>
                            {{#values.length}}
                            <ul class="b-component-stat-digit__popup">
                                {{#values}}
                                    <li class="b-component-stat-digit__item">{{prop}}</li>
                                {{/values}}
                            </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/important}}
                {{#vendorPrefix}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Vendor<br>prefix,Vendor<br>prefixes{{/pluralize}}
                            </h3>
                            {{#values.length}}
                                <ul class="b-component-stat-digit__popup">
                                    {{#values}}
                                        <li class="b-component-stat-digit__item">{{prop}}{{value}}</li>
                                    {{/values}}
                                </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/vendorPrefix}}
                {{#floats}}
                    <figure class="b-component-stat-digit">
                        <p class="b-component-stat-digit__digit">
                            {{total}}
                        </p>
                        <figcaption class="b-component-stat-digit__details">
                            <h3 class="b-component-stat-digit__title">
                                {{#pluralize}}{{values.length}},Float<br>declared,Floats<br>declared{{/pluralize}}
                            </h3>
                            {{#values.length}}
                                <ul class="b-component-stat-digit__popup">
                                    {{#values}}
                                        <li class="b-component-stat-digit__item">{{value}}</li>
                                    {{/values}}
                                </ul>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/floats}}
            </section>
        {{/stats}}
            <section class="b-component-postcard__section b-component-postcard__section_last">
                <ul class="b-component-stat-list">
                {{#componentProfileDetails}}
                    <li><span class="b-component-stat-list__total">{{total}}</span> {{name}}</li>
                {{/componentProfileDetails}}
                </ul>
            </section>
        </div>

        <div class="b-component-postcard__item">
            <section class="b-component-stat-structure">
                <h3 class="b-component-stat-structure__title">
                    Component structure
                </h3>
                <ul class="b-component-stat-structure__nodes">
                    {{>componentstructure}}
                </ul>
            </section>
        </div>
    </aside>
{{/content.componentStats}}
