{{#content.componentStats}}
    <div role="complementary" class="atlas-component-footer">
        <div class="atlas-component-footer__item">
            <div role="region" class="atlas-component-footer__section" aria-label="Ruleset sizes">
                <figure class="atlas-info-digit _primary">
                    <div class="atlas-info-digit__digit">
                        {{totalDeclarations}}
                    </div>
                    <figcaption class="atlas-info-digit__details">
                        <div role="heading" aria-level="3" class="atlas-info-digit__title">
                            Total declarations
                        </div>
                    </figcaption>
                </figure>
                <svg width="300" height="80" viewBox="0 0 300 80" class="atlas-info-digit atlas-sparkline" aria-labelledby="component-graph-title">
                    <title id="component-graph-title">Declaration sets size through the file</title>
                    <defs>
                        <filter id="blur-filter" x="0" y="0">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="3"/>
                        </filter>
                    </defs>
                    <g class="atlas-sparkline__line">
                        <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none"/>
                        <g class="atlas-sparkline__shadow">
                            <path d="{{ruleSetsLine}}" stroke="currentColor" fill="none" filter="url(#blur-filter)"/>
                        </g>
                    </g>
                </svg>
            </div>
        {{#stats}}
            <div role="region" class="atlas-component-footer__section" aria-label="Health check">
                {{#important}}
                    <figure class="atlas-info-digit">
                        <div class="atlas-info-digit__digit">
                            {{total}}
                        </div>
                        <figcaption class="atlas-info-digit__details">
                            <div role="heading" aria-level="3" class="atlas-info-digit__title">
                                {{#pluralize}}{{values.length}},Important<br>declaration,Important<br>declarations{{/pluralize}}
                            </div>
                            {{#values.length}}
                            <div role="list" class="atlas-info-digit__popup">
                                {{#values}}
                                    <div role="listitem" class="atlas-info-digit__item">{{prop}}</div>
                                {{/values}}
                            </div>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/important}}
                {{#vendorPrefix}}
                    <figure class="atlas-info-digit">
                        <div class="atlas-info-digit__digit">
                            {{total}}
                        </div>
                        <figcaption class="atlas-info-digit__details">
                            <div role="heading" aria-level="3" class="atlas-info-digit__title">
                                {{#pluralize}}{{values.length}},Vendor<br>prefix,Vendor<br>prefixes{{/pluralize}}
                            </div>
                            {{#values.length}}
                                <div role="list" class="atlas-info-digit__popup">
                                    {{#values}}
                                        <div role="listitem" class="atlas-info-digit__item">{{prop}}{{value}}</div>
                                    {{/values}}
                                </div>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/vendorPrefix}}
                {{#float}}
                    <figure class="atlas-info-digit">
                        <div class="atlas-info-digit__digit">
                            {{total}}
                        </div>
                        <figcaption class="atlas-info-digit__details">
                            <div role="heading" aria-level="3" class="atlas-info-digit__title">
                                {{#pluralize}}{{values.length}},Float<br>declared,Floats<br>declared{{/pluralize}}
                            </div>
                            {{#values.length}}
                                <div role="list" class="atlas-info-digit__popup">
                                    {{#values}}
                                        <div role="listitem" class="atlas-info-digit__item">{{value}}</div>
                                    {{/values}}
                                </div>
                            {{/values.length}}
                        </figcaption>
                    </figure>
                {{/float}}
            </div>
        {{/stats}}
            <div role="region" class="atlas-component-footer__section" aria-label="Component profile">
                <div class="atlas-info-list" role="list">
                {{#componentProfileDetails}}
                    <div role="listitem" class="atlas-info-list__item">
                        <span class="atlas-info-list__total">{{total}}</span>
                        <span class="atlas-info-list__name">{{name}}</span>
                    </div>
                {{/componentProfileDetails}}
                </div>
            </div>
            <div role="region" class="atlas-component-footer__section _last" aria-label="Constants used">
                <div class="atlas-info-list" role="list">
                    {{#componentConstants}}
                        {{#stat}}
                            <div role="listitem" class="atlas-info-list__item atlas-constant">
                                <span class="atlas-constant__name">{{name}}</span>
                                <span class="atlas-constant__items">{{notDefined.count}} not in use</span>
                                <span class="atlas-constant__items">{{defined.count}} used</span>
                                {{#consider}}
                                    <span class="atlas-constant__suggest atlas">Consider change <code>{{from}}</code> to <code>{{to}}</code></span>
                                {{/consider}}
                            </div>
                        {{/stat}}
                    {{/componentConstants}}
                </div>
            </div>
        </div>

        <div class="atlas-component-footer__item">
            <div role="region" class="atlas-component-structure" aria-labelledby="atlas-component-structure">
                <div role="heading" aria-level="3" class="atlas-component-structure__title" id="atlas-component-structure">
                    Component structure
                </div>
                <div class="atlas-component-structure__nodes" role="list">
                    {{>componentstructure}}
                </div>
            </div>
        </div>
    </div>
{{/content.componentStats}}
