            </div>
        </div>
    </main>
</div>

<script src="assets/js/navigation.js"></script>
<script src="assets/js/search.js" async defer></script>
<script src="assets/js/aside.js" async defer></script>
<script src="assets/js/prism.min.js" async></script>
<script src="assets/js/playground.js" async defer></script>
<script src="assets/js/copier.js"></script>

{{> assetsfooter}}

</body>
</html>
