<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>

    <title>Atlas - {{pageTitle}}</title>

    <link rel="stylesheet" type="text/css" href="assets/css/dev_atlas.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/dev_atlas-frame.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/dev_atlas-prism.css"/>

    {{> assetshead}}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116690841-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-116690841-1');
    </script>
</head>
<body class="atlas-page atlas-page_{{type}}">
{{> icons}}
<div class="l-atlas-container" id="js-atlas-container">
    {{> aside}}
    <main role="main" class="l-atlas-container__main" id="js-atlas-main">
        <script>
            document.getElementById('js-atlas-main').style.marginLeft =
                window.sessionStorage && window.sessionStorage.getItem('asideWidth') ?
                    window.sessionStorage.getItem('asideWidth') + 'px' : '';
        </script>
        <div class="atlas-content">
            <div class="atlas-content__inner">

