{{#subPages}}
    <li class="b-atlas-nav__item {{#type}}b-atlas-nav__item_{{type}}{{/type}}">
        <a class="b-atlas-nav__ln {{#type}}b-atlas-nav__ln_{{type}}{{/type}}" {{#id}}href="{{id}}.html" id="nav-{{id}}"{{/id}}>
            {{#type}}<svg width="14" height="14" role="img"><use xlink:href="#icon-{{{type}}}"></use></svg>{{/type}}
            {{title}}
        </a>
        {{#subPages.length}}
            <ul class="b-atlas-nav__sub-nav">
                {{>navigation}}
            </ul>
        {{/subPages.length}}
    </li>
{{/subPages}}
