<div class="b-atlas-toc" role="directory">
    {{#content.toc}}
        <div class="b-atlas-toc__item" role="listitem">
            <a class="b-atlas-toc__ln b-atlas-toc__ln_{{level}}" href="#h{{level}}-{{escapedText}}">
                {{{text}}}
            </a>
        </div>
    {{/content.toc}}
</div>
