.atlas-playground {
	clear: both;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 -#{$space-sm-atlas} $space-md-atlas;
	padding: 0 $space-sm-atlas $space-sm-atlas;
	position: relative;

	&__summary {
		align-items: center;
		background: transparent;
		border: none;
		color: $color-grey80-atlas;
		cursor: pointer;
		display: flex;
		font-family: $font-mono-atlas;
		justify-content: space-between;
		outline: none;
		overflow: hidden;
		padding: 3px 0;
		text-align: left;
		transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
		width: 100%;

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			background-color: lighten($color-grey90-atlas, 10%);
			border-radius: 5px;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: inherit;
		}

		&:hover,
		&:focus {
			color: $atlas-color-text;

			&::after {
				background-color: $color-grey95-atlas;
			}
		}

		details[open] &,
		&[aria-expanded="true"] {
			background-color: #38382d;
			color: $color-white-atlas;

			&::after {
				background-color: #38382d;
			}
		}

		&:focus:active {
			background-color: darken(#38382d, 5%);
			color: $color-white-atlas;
			transition: none;

			&::after {
				background-color: darken(#38382d, 5%);
			}
		}

		&-text {
			font-size: $atlas-scale-mono-small;
			line-height: 25px;
			pointer-events: none;
			position: relative;
			z-index: 1;
		}

		&-ico {
			pointer-events: none;
			position: relative;
			width: 18px;
			z-index: 1;
		}
	}

	&__details {
		position: relative;
		transition: ease-in-out 0.3s;
		transition-property: max-height, opacity;
		z-index: 1;

		&:focus {
			outline: none !important; // stylelint-disable-line
		}

		&[aria-hidden="true"] {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
		}

		&[aria-hidden="false"] {
			max-height: 40vh;
			opacity: 1;
			overflow: initial;
			visibility: visible;
		}

		pre {
			background-color: transparent;
			font-style: normal;
			font-weight: normal;
			max-height: 40vh;
			overflow: auto;

			&::-webkit-scrollbar {
				height: 8px;
				width: 8px;
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #29291e;
				border-radius: 10px;
			}

			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}
		}

		code {
			color: whitesmoke;
			font-family: $font-mono-atlas;
			font-size: 12.75px;
			line-height: 1.2;
			outline: none !important; // stylelint-disable-line
		}
	}

	&__example {
		background-color: $color-white-atlas;
		border: 1px solid $color-grey90-atlas;
		border-radius: 3px;
		padding: $space-sm-atlas;
		position: relative;
		z-index: 1;
	}

	&__notifier {
		background-color: rgba(black, 0.5);
		border-radius: 5px;
		color: $color-white-atlas;
		font-family: $font-mono-atlas;
		font-size: 20px;
		font-style: normal;
		left: 50%;
		line-height: 20px;
		min-width: 20px;
		opacity: 0;
		padding: $space-md-atlas;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -25%);
		transition: ease 0.6s;
		transition-property: opacity, visibility;
		visibility: hidden;
		z-index: 10;

		&.js-show {
			opacity: 1;
			visibility: visible;
		}
	}

	&__copy-button {
		appearance: none;
		background-color: transparent;
		border: none;
		color: $color-grey80-atlas;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 0;

		&:hover {
			color: $color-white-atlas;
		}
	}

	// Frame for screenshot caption
	&-test-frame {
		// overflow: auto;
		outline: none;
		padding: 2px;
		// position: relative;
	}
}

// Blueprint

@mixin blueprint() {
	background-color: $atlas-color-text;
	background-image:
		linear-gradient(0deg, transparent 7px, hsla(205, 65, 80%, 0.25) 7px),
		linear-gradient(90deg, transparent 7px, hsla(205, 65, 80%, 0.25) 7px);
	background-position: left top;
	background-size: 8px 8px;
	padding: 0;

	* { /* stylelint-disable-line */
		background-color: hsla(205, 65, 80%, 0.125);
		color: hsl(205, 65, 80%);
		outline: hsla(205, 65, 80%, 0.5) solid 1px;
	}
}

.atlas-playground.js-opened {
	.atlas-playground__example {
		border-color: black;
		@include blueprint();
	}
}

//.atlas-page_layout {
//	.atlas-playground__example {
//		@include blueprint();
//	}
//}
