.atlas-sparkline {
	//height: 64px;
	margin: $space-sm-atlas 0 0 $space-lg-atlas;
	max-width: none;
	width: 100%;

	&__line {
		transform: translate(5px, 10px);

		> path {
			stroke: url("#atlas-graph-gradient");
			stroke-linecap: round;
			stroke-width: 2px;
		}
	}

	&__shadow {
		transform: translate(3px, 3px);

		> path {
			stroke: rgba(0, 0, 0, 0.3);
		}
	}
}
