@use "sass:math";

.atlas-constant {
	all: unset;
	text-transform: none;
	width: 100%;

	&__item {
		display: flex;
		margin: $space-md-atlas 0;
	}

	&__caption {
		min-width: math.div(100%, 3);
	}

	&__details {
		display: block;
		width: 100%;
	}

	&__name {
		font-weight: bold;
		text-transform: capitalize;

		&::after {
			content: ":";
		}
	}

	&__status {
		display: block;
		font-size: 12.8px;
		font-weight: normal;
		line-height: 1.6;

		svg {
			height: 16px;
			margin-bottom: -3px;
			width: 12px;
		}

		&._success {
			color: $color-green-atlas;
		}

		&._error {
			color: $color-red-atlas;
		}
	}

	&__list {
		display: block;
		font-size: 12.8px;
		font-weight: normal;
		margin: math.div($space-sm-atlas, 2) 0;
		padding-left: 16px;
		position: relative;
	}

	&__counter {
		$size: 12px;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		height: $size;
		left: 0;
		line-height: $size;
		position: absolute;
		text-align: center;
		top: 2px;
		width: $size;

		svg {
			height: 16px;
			left: -2px;
			position: absolute;
			top: -2px;
			width: 11px;
		}

		&-digit {
			position: relative;
			z-index: 1;
		}

		&._warn {
			color: $color-white-atlas;

			svg {
				color: $color-orange-atlas;
			}
		}

		&._error {
			color: $color-white-atlas;

			svg {
				color: $color-red-atlas;
			}
		}

		&._1 {
			color: transparent;
			text-shadow: none;
		}
	}

	code {
		font-family: $font-mono-atlas;
		font-size: 11.2px;
	}
}
