.atlas-constant {
	all: unset;
	text-transform: none;
	width: 100%;

	&__item {
		display: flex;
		margin: $space-md-atlas 0;
	}

	&__caption {
		min-width: (100% / 3);
	}

	&__details {
		display: block;
		width: 100%;
	}

	&__name {
		font-weight: bold;
		text-transform: capitalize;
	}

	&__status {
		display: block;
		font-size: 0.8rem;
		font-weight: normal;
		margin-bottom: $space-sm-atlas / 2;

		svg {
			margin-bottom: -3px;
			width: 12px;
		}

		&._success {
			color: $color-green-atlas;
		}

		&._error {
			color: $color-coral-atlas;
		}
	}

	&__list {
		display: block;
		font-size: 0.8rem;
		font-weight: normal;
		margin-bottom: $space-sm-atlas / 2;
		padding-left: 16px;
		position: relative;
	}

	&__counter {
		$size: 12px;
		border-radius: 10px;
		color: $color-white-atlas;
		content: "";
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		height: $size;
		left: 0;
		line-height: $size;
		position: absolute;
		text-align: center;
		top: 2px;
		width: $size;

		&._1 {
			color: transparent;
		}

		&._warn {
			background-color: $color-yellow-atlas;
		}

		&._error {
			background-color: $color-coral-atlas;
		}
	}

	code {
		font-family: $font-mono-atlas;
		font-size: 0.7rem;
	}
}
