.atlas-constant {
	all: unset;
	text-transform: none;
	width: 100%;

	&__item {
		display: flex;
		margin: $space-md-atlas 0;
	}

	&__caption {
		min-width: (100% / 3);
	}

	&__details {
		display: block;
		width: 100%;
	}

	&__name {
		font-weight: bold;
		text-transform: capitalize;

		&::after {
			content: ":";
		}
	}

	&__status {
		display: block;
		font-size: 0.8rem;
		font-weight: normal;
		line-height: 1.6;

		svg {
			height: rem(16);
			margin-bottom: -#{rem(3)};
			width: rem(12);
		}

		&._success {
			color: $color-green-atlas;
		}

		&._error {
			color: $color-red-atlas;
		}
	}

	&__list {
		display: block;
		font-size: 0.8rem;
		font-weight: normal;
		margin: ($space-sm-atlas / 2) 0;
		padding-left: rem(16);
		position: relative;
	}

	&__counter {
		$size: rem(12);
		display: inline-block;
		font-size: rem(10);
		font-weight: bold;
		height: $size;
		left: 0;
		line-height: $size;
		position: absolute;
		text-align: center;
		top: rem(2);
		width: $size;

		svg {
			height: rem(16);
			left: -#{rem(2)};
			position: absolute;
			top: -#{rem(2)};
			width: rem(11);
		}

		&-digit {
			position: relative;
			z-index: 1;
		}

		&._warn {
			color: $color-white-atlas;

			svg {
				color: $color-orange-atlas;
			}
		}

		&._error {
			color: $color-white-atlas;

			svg {
				color: $color-red-atlas;
			}
		}

		&._1 {
			color: transparent;
			text-shadow: none;
		}
	}

	code {
		font-family: $font-mono-atlas;
		font-size: 0.7rem;
	}
}
