.atlas-info-digit {
	align-items: flex-end;
	display: flex;
	font-size: rem(13);
	margin: $space-md-atlas 0;
	max-width: (100%/3);
	position: relative;
	width: 50%;

	&__digit {
		color: $color-blue-atlas;
		font-size: rem(48);
		//font-weight: bold;
		line-height: 1;
		margin-right: rem(5);
	}

	&__details {
		margin-bottom: 0.4em;
	}

	&__title {
		font-size: rem(16);
		font-weight: bold;
	}

	&__popup {
		@include tooltip($_state: stale);

		&::before {
			@include tooltip(__arrow);
		}

		.atlas-info-digit:hover & {
			@include tooltip($_state: activated);
		}
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {}

	&._primary {
		.atlas-info-digit__digit {
			font-size: rem(64);
			font-weight: normal;
		}
	}
}
