.atlas-component-structure {
	margin-bottom: $space-lg-atlas;
	margin-top: $space-lg-atlas;

	&__title {
		display: none;
		font-size: $scale-lg-atlas;
		font-weight: bold;
		line-height: $space-md-atlas;
		margin-bottom: $space-md-atlas;
	}

	&__nodes {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) no-repeat;
		background-position: 26px 0;
		background-size: 1px 100%;
		font-family: $font-mono-atlas;
		font-size: 0.8rem;
		list-style: none;
		padding-bottom: 5px;
		padding-left: $space-md-atlas;
		position: relative;

		&::after {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 5px;
			bottom: 0;
			content: "";
			height: 3px;
			left: 25px;
			position: absolute;
			width: 3px;
		}

		.atlas-component-structure__nodes {
			background: none;
			padding-bottom: 0;

			&::after {
				display: none;
			}
		}
	}

	&__node {
		font-size: 0.8rem;
		line-height: 1.4;
		margin: 5px 0;
	}

	&__type {
		background: grey;
		border-radius: 3px;
		box-shadow: 0 2px 3px rgba(black, 0.1);
		color: $color-white-atlas;
		cursor: help;
		display: inline-block;
		font-family: $font-sans-atlas;
		font-size: 11px;
		font-weight: bold;
		height: 15px;
		line-height: 14px;
		position: relative;
		text-align: center;
		text-shadow: 0 0 1px rgba(black, 0.5);
		top: -1px;
		width: 15px;

		//&::after {
		//	border: 3px solid #fafafa;
		//	bottom: -3px;
		//	content: "";
		//	left: -3px;
		//	position: absolute;
		//	right: -3px;
		//	top: -3px;
		//}

		$component: #e56daa;
		$element: #6d7ce5;
		$modifier: #2196f3;
		$media: white;

		&._mixin {
			background-color: $media;
			color: $atlas-color-text;
			text-shadow: none;

			&::before {
				// added as example of data uri
				background: url("data:image/svg+xml,%3Csvg fill='none' stroke='#{$atlas-color-text}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' version='1.1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='20.575' x2='3.2214' y1='3.4248' y2='20.779' stroke-width='3.0678'/%3E%3Cpolyline transform='matrix%281.0846 1.0846 -1.0846 1.0846 11.898 -13.929%29' points='18 14 12 20 6 14'/%3E%3C/svg%3E%0A") center center no-repeat;
				background-size: 80%;
				color: transparent;
				content: "↙";
			}
		}

		&._condition {
			background-color: $media;
			color: $atlas-color-text;
			text-shadow: none;

			&::before {
				content: "?";
			}
		}

		&._extend {
			background-color: $media;
			color: $atlas-color-text;
			text-shadow: none;

			&::before {
				// added as example of data uri
				background: url("data:image/svg+xml,%3Csvg fill='none' stroke='#{$atlas-color-text}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' version='1.1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='3.2214' x2='20.575' y1='20.779' y2='3.4248' stroke-width='3.0678'/%3E%3Cpolyline transform='matrix%28-1.0846 -1.0846 1.0846 -1.0846 11.898 38.132%29' points='18 14 12 20 6 14'/%3E%3C/svg%3E%0A") center center no-repeat;
				background-size: 80%;
				color: transparent;
				content: "↗";
			}
		}

		&._component {
			background-color: $component;

			&::before {
				content: "c";
			}
		}

		&._modifier {
			background-color: $modifier;

			&::before {
				content: "m";
			}
		}

		&._modifier-adjacent {
			background-color: darken($modifier, 10%);

			&::before {
				content: "ma";
			}
		}

		&._modifier-implicit {
			background-color: lighten($modifier, 10%);

			&::before {
				content: "mi";
			}
		}

		&._modifier-context {
			background-color: darken($modifier, 10%);

			&::before {
				content: "mc";
			}
		}

		&._element {
			background-color: $element;

			&::before {
				content: "e";
			}
		}

		&._element-implicit {
			background-color: lighten($element, 10%);

			&::before {
				content: "ei";
			}
		}
	}

	&__name {
		//white-space: pre;
	}

	&__brackets {
		color: rgba(0, 0, 0, 0.3);
	}
}
