.atlas-component-footer {
	all: initial;
	background: #fafafa;
	clear: both;
	color: $atlas-color-text;
	display: flex;
	float: none;
	font-family: $font-sans-atlas;
	font-size: $atlas-scale-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	justify-content: space-between;
	margin: $space-lg-atlas -#{$space-md-atlas} -#{$space-md-atlas};

	&__item {
		padding: $space-md-atlas;
		width: 50%;
	}

	&__section {
		display: flex;
		margin: 0;
		padding: $space-md-atlas 0 0;
		position: relative;

		& + & {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}
