ul,
ol,
p {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin: 0;
}

figure {
	margin: 0;
}

body {
	background: $color-white-atlas;
	color: $atlas-color-text;
	margin: 0;
	padding: 0;
}
